.main{
  height: 800px;
}

.main-spring{
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-summer{
  width: 100%;
  height: 200px;
  background-image:url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-autumn{
  width: 100%;
  height: 200px;
  background-image:url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-winter{
  width: 100%;
  height: 200px;
  background-image:url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}